*:focus-visible {
  outline: 2px dashed var(--outline-color, var(--color-primary));
  outline-offset: 2px;
}

::backdrop {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.25);
}

::selection {
  color: var(--color-white);
  background-color: var(--color-secondary);
}

html,
body {
  min-height: 100dvh;
  margin: 0;
  padding: 0;
}

#__nuxt {
  min-height: 100dvh;
}

body {
  background-color: var(--color-tertiary);
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

ul,
ol {
  margin-block: 0 1em;
}