*:focus-visible {
  outline: 2px dashed var(--color-primary);
  outline-offset: var(--base-unit);
}

html,
body {
  min-height: 100dvh;
  margin: 0;
  padding: 0;
}

#__nuxt {
  min-height: 100dvh;
}

body {
  background-color: var(--color-secondary);
}