*:focus-visible {
  outline: 2px dashed var(--color-primary);
  outline-offset: 2px;
}

::backdrop {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(1px);
}

html,
body {
  min-height: 100dvh;
  margin: 0;
  padding: 0;
}

#__nuxt {
  min-height: 100dvh;
}

body {
  background-color: var(--color-tertiary);
}