body {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-16);
  color: var(--color-gray-10);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-secondary);
  color: var(--color-primary);
  margin-top: 0;
  text-wrap: balance;
  font-weight: 700;
  text-transform: uppercase;

}